<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Endava_Project</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="@(()=>IsClicked(""))">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wallets" @onclick="@(()=>IsClicked(""))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wallets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transactions" @onclick="@(()=>IsClicked(""))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transactions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cashbycode" @onclick="@(()=>IsClicked("cashbycode"))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CashByCode
            </NavLink>
            @if (casbByCode == true)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="recivecashbycode">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Recive Cash
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool casbByCode;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void IsClicked(string menu)
    {
        if(menu == "cashbycode")
        {
            casbByCode = true;
        }
        else
        {
            casbByCode = false;
        }
    }


}
